@if(IsLoading)
{
    <div class="text-center my-4">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="mt-2 text-secondary">Fetching hotels in @Title...</p>
    </div>
}
else
{
    <div>
        @* heading *@
        @* fs-1: tăng size lên to nhất *@
        @* fw-bold (font-weight: bold) *@
        @* text-secondary: màu chữ *@
        <h2 class="fs-1 fw-bold text-secondary">@Title</h2>

        @* item *@
        @* chia các item theo grid *@
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            @foreach (var hotel in Hotels)
            {
                <div class="col card">
                    @* style hình *@
                    <div class="h-100">
                        <img src="@hotel.ImageUrl"
                             class="card-img-top"
                             style="height: 320px; object-fit: cover;"
                             alt="">
                    </div>

                    @* style tên hotel,... *@
                    <div class="card-body">
                        <h5>@hotel.Name</h5>
                        <div class="text-warning mb-2">
                            @for (int i = 0; i < 5; i++)
                            {
                                <span>@(i < hotel.Rating ? "★" : "☆")</span>
                            }
                        </div>
                        
                        <p>@hotel.Description</p>
                        
                    </div>
                </div>
            }
        </div>
    </div>
}



@code {
    @* nhận dữ liệu từ component cha thì dùng parameter *@
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public List<HotelModel> Hotels { get; set; } = new();

    [Parameter]
    public bool IsLoading { get; set; } = false;
}