@using session26_validation_component_razor.Models
<div class="card shadow-sm">
    <img src="@product.ImageUrl" alt="product image" class="card-img-top" style="width:100%"/>
    <div class="card-body text-center">
        <h4 class="card-title">@product.Name</h4>
        <p class="card-text text-danger fw-bold">@product.Price</p>
    </div>

    @* render HTML, CSS từ component cha gửi về*@
    <div>
        @ChildContent
    </div>

    <button class="btn btn-secondary mt-3" @onclick="ShowDetails">Xem chi tiết</button>
    <button class="btn btn-primary mt-3">Thêm giỏ hàng</button>
</div>

@if (isShowDetails)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@product.Name</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="@product.ImageUrl" class="img-fluid mb-3" alt="@product.Name">
                    <p class="text-muted">@product.Name</p>
                    <h4 class="text-danger">@product.Price.ToString()</h4>
                    <p>Mô tả sản phẩm chi tiết sẽ ở đây...</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">Đóng</button>
                    <button class="btn btn-primary">🛒 Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool isShowDetails = false;

    [Parameter]
    public ProductModel product { get; set; }

    // param để lấy html, css cha
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void ShowDetails()
    {
        isShowDetails = true;
    }

    private void CloseModal()
    {
        isShowDetails = false;
    }
}